<a href="https://colab.research.google.com/github/Naman397/Exploratory_Data_Analysis/blob/main/22BDS0021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np

df=pd.read_csv('https://raw.githubusercontent.com/salemprakash/EDA/main/Data/Gunnels.csv')
df.head(6)

,rownames,Gunnel,Time,Fromlow,Slope,Rw,Amphiso,Subst,Pool,Water,Cobble
0,1,0,786,190,10,0.1,0,3,0,0,0
1,2,0,794,182,10,0.0,0,3,0,0,0
2,3,0,798,178,20,0.0,0,1,0,0,0
3,4,0,800,176,70,0.3,0,1,0,1,0
4,5,0,804,172,40,0.3,0,1,0,1,0
5,6,0,808,168,60,0.3,0,1,0,1,0

In [3]:
df.shape

(1592, 11)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1592 entries, 0 to 1591
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rownames  1592 non-null   int64
 1   Gunnel    1592 non-null   int64
 2   Time      1592 non-null   int64
 3   Fromlow   1592 non-null   int64
 4   Slope     1592 non-null   int64
 5   Rw        1592 non-null   float64
 6   Amphiso   1592 non-null   int64
 7   Subst     1592 non-null   int64
 8   Pool      1592 non-null   int64
 9   Water     1592 non-null   int64
 10  Cobble    1592 non-null   int64
dtypes: float64(1), int64(10)
memory usage: 136.9 KB

In [5]:
#Missing values per column.

df.isnull().sum()

rownames    0
Gunnel      0
Time        0
Fromlow     0
Slope       0
Rw          0
Amphiso     0
Subst       0
Pool        0
Water       0
Cobble      0
dtype: int64

In [6]:
print("Duplicate rows:", df.duplicated().sum())

Duplicate rows: 0

In [8]:
# Summary Statistics

df.describe()

,rownames,Gunnel,Time,Fromlow,Slope,Rw,Amphiso,Subst,Pool,Water,Cobble
count,1592.000000,1592.000000,1592.000000,1592.000000,1592.000000,1592.000000,1592.000000,1592.000000,1592.000000,1592.000000,1592.000000
mean,796.500000,0.030151,705.243719,149.408920,9.503769,0.527073,0.464196,3.105528,0.202261,0.508794,0.190955
std,459.715129,0.171056,135.853638,82.662326,15.889862,0.421278,0.899039,2.787720,0.401812,0.500080,0.393177
min,1.000000,0.000000,340.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,398.750000,0.000000,623.000000,71.750000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,796.500000,0.000000,712.500000,158.000000,0.000000,0.600000,0.000000,2.000000,0.000000,1.000000,0.000000
75%,1194.250000,0.000000,810.000000,224.250000,10.000000,1.000000,1.000000,4.000000,0.000000,1.000000,0.000000
max,1592.000000,1.000000,983.000000,304.000000,90.000000,1.000000,4.000000,13.000000,1.000000,1.000000,1.000000